# Virtual environments and executables
env/
venv/
.env
.venv
python311/
python.zip
python-3.11.8-amd64.exe

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# IDEs & OS files
.idea/
.vscode/
*.swp
.DS_Store

# Project Data
empatheticdialogues/
empatheticdialogues.tar.gz
